<mat-grid-list class="content" cols="3" rowHeight="6:7">
  <mat-grid-tile>
    <div class="box">
      <img src="/assets/macbook.png" alt="" />
      <p class="title">Apple</p>
      <h1>Apple Macbook Pro 14" M2</h1>
      <p class="details">Apple M1 Pro</p>
      <p class="details">16GB RAM / 512 GB SSD</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="box">
      <img src="/assets/macbook2.png" alt="" />
      <p class="title">Apple</p>
      <h1>Apple Macbook Pro 16"</h1>
      <p class="details">Apple M1 Pro</p>
      <p class="details">16GB RAM / 512 GB SSD</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="box">
      <img src="/assets/macbook3.png" alt="" />
      <p class="title">Apple</p>
      <h1>Apple Macbook Pro 13.6" M2</h1>
      <p class="details">Apple M1 Pro</p>
      <p class="details">16GB RAM / 512 GB SSD</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="box">
      <img src="/assets/macbook.png" alt="" />
      <p class="title">Apple</p>
      <h1>Apple Macbook Pro 14"</h1>
      <p class="details">Apple M1 Pro</p>
      <p class="details">16GB RAM / 512 GB SSD</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="box">
      <img src="/assets/macbook2.png" alt="" />
      <p class="title">Apple</p>
      <h1>Apple Macbook Pro 16 Deluxe</h1>
      <p class="details">Apple M1 Pro</p>
      <p class="details">16GB RAM / 512 GB SSD</p>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="box">
      <img src="/assets/macbook3.png" alt="" />
      <p class="title">Apple</p>
      <h1>Apple Macbook Pro 12.6"</h1>
      <p class="details">Apple M1 Pro</p>
      <p class="details">16GB RAM / 512 GB SSD</p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
