img {
  height: 250px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details {
  color: grey;
  margin: 5px;
}

.title {
  color: #0071e3;
}

.content {
  margin: 100px 0px;
  margin-bottom: 0;
}
