<div class="content">
  <mat-grid-list cols="2" rowHeight="2:2">
    <mat-grid-tile>
      <div class="box">
        <div class="row">
          <mat-icon
            class="icon"
            aria-label="more info icon"
            fontIcon="lock"
          ></mat-icon>
          <h1>Secure Shopping</h1>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
          laudantium consequuntur fuga sunt quisquam nam quam esse repudiandae
          impedit rerum eos, blanditiis suscipit hic ipsam reprehenderit ducimus
          iste modi provident?
        </p>
        <p class="details">details ➜</p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="container">
        <div class="row">
          <mat-icon
            class="icon"
            aria-label="more info icon"
            fontIcon="room"
          ></mat-icon>
          <h1>Original Sellers</h1>
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
          laudantium consequuntur fuga sunt quisquam nam quam esse repudiandae
          impedit rerum eos, blanditiis suscipit hic ipsam reprehenderit ducimus
          iste modi provident?
        </p>
        <p class="details">details ➜</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
      <div class="box">
        <div class="box2">
          <img src="/assets/macbookArrow.png" alt="" />
          <h1 class="thin">Sign up for our e-mail list,</h1>
          <h1>don't miss the discounts</h1>
          <div class="midRow">
            <input type="text" />
            <p class="blu">➜</p>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="container">
        <img src="/assets/macbook3.png" alt="" />
        <div class="flex">
          <h1>Macbook Air M2</h1>
          <mat-icon
            class="blu"
            aria-label="more info icon"
            fontIcon="info"
          ></mat-icon>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
          assumenda vero quasi accusamus nesciunt harum veritatis molestias, et
          veniam similique cumque iste incidunt alias enim aliquid rem id
          facilis explicabo?
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
