<div class="flex header">
  <img class="logo" src="/assets/logo.jpeg" alt="" />
  <img class="icon" src="/assets/magnifying-glass-solid.svg" alt="" />
  <a routerLink="/">Home</a>
  <a routerLink="/Shop">Shop</a>
  <a routerLink="/categories">Categories</a>
  <a routerLink="/Buy">Buy Now</a>
  <div class="break"></div>
  <img class="icon" src="/assets/heart-regular.svg" alt="" />
  <a routerLink="/Cart" class="flex">
    <img class="icon" src="/assets/bag-shopping-solid.svg" alt="" />
    <a>Cart</a>
  </a>
  <button mat-flat-button color="primary">Login</button>
</div>
