.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 40px;
  filter: invert(54%) sepia(0%) saturate(348%) hue-rotate(180deg)
    brightness(93%) contrast(91%);
  margin: 0 10px;
}

.logo {
  height: 13rem;
}

.header {
  justify-content: space-evenly;
  align-items: center;
  background-color: #f7f7f7;
}

.break {
  width: 300px;
}

a {
  font-size: xx-large;
  text-decoration: none;
  color: grey;
  margin: 0 10px;
  font-weight: 600;
}
